body {
  background-image: url("../assets/site/mapblue.jpg");
  display: flex;
  font-family: 'GameOfThrones';
  font-size: 9px;
  margin: auto;
}

@font-face {
  font-family:
    GameOfThrones;
  src: url("../fonts/Game\ of\ Thrones.ttf")
}

h3 {
  font-size: 20px;
  text-align: center;
}

.div_left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  left: 0;
  min-width: 80%;
  position: absolute;
  width: 80%;
}

.div_sidebar {
  background-color: rgb(70, 70, 70);
  height: 100%;
  width: 20%;
  position: absolute;
  right: 0;
}

.div__p-notfound {
  font-size: 15px;
  text-align: center;
}


.left__portraits .div__div {
  box-sizing: border-box;
  float: left;
  text-align: center;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  width: 12.5%;
}

.left__portraits .div__div:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.div__input {
  bottom: 5px;
  height: 23px;
  left: 20px;
  margin: 5px;
  position: absolute;
  width: 200px;
}

.div__button {
  background: black;
  bottom: 5px;
  border: black;
  border-radius: 4px;
  color: white;
  height: 30px;
  margin: 5px;
  position: absolute;
  right: 25px;
  width: 40px;
}

.div__img-charpictures {
  height: 170px;
  padding: 10px;
  width: 285px;
}

.div__char-name {
  font-size: 15px;
  padding: 10px;
}

img.div__flag {
  float: right;
  padding: 0px 10px;
  width: 40px;
}

.div__p-bio {
  font-size: 12px;
  padding: 10px;
}